table {
  tr {
    height: 3.5rem;
  }
  thead {
    vertical-align: middle !important;
    background-color: #f9f9fb !important;
  }

  tbody {
    vertical-align: middle !important;
  }
}
