.main {
  height: 100%;
  position: relative;
}

.toRender {
  padding-top: 56px;
  margin-top: 24px;
}

.hoverList {
  &:hover {
    cursor: pointer;
  }
}

// Modal Create Project
.modalNew {
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  &::after,
  &::before {
    clear: both;
    display: table;
    content: "";
  }
  #boxModal {
    border-radius: 4px;
    background-color: #fff;
    padding: 24px 36px;
    width: 450px;
    height: 520px;
    transform: translate(50%, 12%);
    right: 50%;
    position: absolute;
    animation: upToDown 0.45s;
    #titleModal {
      h2 {
        position: relative;
        margin: 12px 0;
        i {
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 21px;
          padding: 6px 8px;
          border-radius: 50%;
          transition: ease-in 0.225s;

          &:hover {
            background-color: #d7d7d7;
            cursor: pointer;
            transition: ease-in 0.225s;
          }
        }
      }
    }
    #detail {
      border-bottom: 1px solid #ccc;
      height: 65%;
      input {
        padding: 8px;
        margin: 8px 0;
        width: 100%;
      }
    }

    #modalBtn {
      position: relative;
      margin-top: 20px;
      .btns {
        position: absolute;
        border: none;
        border-radius: 4px;
      }
      #created {
        right: 0;
      }
      #cancel {
        right: 25%;
      }
    }
  }
}

.height-3rem {
  height: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 24px);
  height: 3.5rem;
  align-items: center;
  background-color: #f9f9fb;
}

// Keyframe for Modal Create Project
@keyframes upToDown {
  from {
    transform: translate(50%, -5%);
  }

  to {
    transform: translateY(50%, 12%);
  }
}
