.formLog {
  position: absolute;
  transform: translate(50%, 50%);
  right: 50%;
  bottom: 50%;
  background-color: #fff;
  border-radius: 4px;
  width: 450px;

  padding: 2% 2% 4% 2%;
  #btn-log {
    margin-top: 24px;
  }
  .form-floating {
    margin: 24px 0;
  }
}

.link-light {
  text-decoration: none;
}

.regisBtn {
  padding-left: 2.125rem;
  padding-right: 2.125rem;
}
