$background_page: url("../../../assets/1dc2d4ac-image-1024x691.jpeg");

body {
  background-color: #f3f3f7 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

li {
  list-style: none;
}
// Background chung của Login và Register
.bgImg {
  background: linear-gradient(
      to left,
      rgba($color: #000, $alpha: 0.6),
      rgba($color: #fff, $alpha: 0.6)
    ),
    $background_page no-repeat;
  background-size: cover;
  height: 100vh;
}

//.................................................//

// Component SubNav.tsx (Begin)
#subNav {
  background-color: #f3f3f7 !important;
  margin-bottom: 1rem;
}

.disable {
  display: none !important;
}

// Component SubNav.tsx (End)

//.................................................//

// Page Register.tsx(Begin)

// .grid-container-CDE {
//   display: grid;
// }

#wrapValid {
  h2 {
    margin-bottom: 12px;
  }
  &::before,
  &::after {
    display: table;
    content: "";
    clear: both;
  }
  position: absolute;
  width: 28%;
  background-color: #fff;
  border-radius: 5px;
  transform: translate(50%, 50%);
  bottom: 50%;
  right: 50%;
  padding: 32px;

  #icon {
    i {
      margin: 0 6px;
      font-size: 24px;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}

// Page Register.tsx(End)

//...............................................//

// Component ListItem.tsx (Begin)

.listW100 {
  width: 100%;
  text-decoration: none;
}
.hoverList {
  transition: ease-in 0.2s;
  &:hover {
    transition: ease-in 0.2s;
  }
}

// Component ListItem.tsx (End)

//...............................................//

// Component None.tsx (Begin)
#descrip {
  padding: 0 0.75rem;
}
// Component None.tsx (End)

//...............................................//

// Component Nav.tsx (Begin)

#userIcon {
  padding: 0 8px;
  border-radius: 50%;
  transition: ease-in 0.2s;

  &:hover {
    background-color: #b1b1b1;
    color: #fff !important;
    transition: ease-in 0.2s;
  }
}

#myNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 4rem;
  box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: 0.4);

  .navbar-brand {
    transition: ease-in 0.215s;
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    &:hover {
      transition: ease-in 0.215s;
      background: #c1c1c1;
      color: rgb(23, 117, 194);
    }
  }

  #userIcon {
    font-size: 24px;
    &:hover {
      color: #858585;
      cursor: pointer;
    }
  }

  #dropdown-info {
    background-color: #fff;
    border-radius: 0.125rem;
    box-shadow: 0 0 0.375rem #aeaeb6;
    font-weight: 400;
    padding: 1rem 0;
    width: 232px;
    position: absolute;
    z-index: 12;
    top: 55px;
    right: 25px;
    .userInfo {
      align-items: center;
      display: flex;
      flex-flow: column nowrap !important;
      height: auto !important;
      max-width: 232px;
      padding: 0.5rem 1rem;
      width: 232px;
      .thumbnailSection {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        .avatar {
          font-size: 28px;
          background-color: #bfbfbf;
          padding: 0 0.4rem;
          border-radius: 50%;
        }
        .textEllipsis {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .small {
          font-size: 0.75rem !important;
        }

        .text-center {
          text-align: center;
        }
      }

      .thumbnailDetails {
        width: 100%;
      }
    }
    .listDown {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        text-align: center;
        transition: ease-in 0.15s;
        &:hover {
          transition: ease-in 0.15s;
          background-color: #e5e5e5;
          cursor: pointer;
        }
      }
    }
  }
}

// Component Nav.tsx (End)

//...............................................//
