tr {
  th,
  td {
    text-align: left;
  }

  .icon {
    text-align: center;
    font-size: 36px;
  }

  td {
    max-width: 240px;
  }
  .nameFol {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 240px;
  }

  .circle-round {
    background-color: #ccc;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 50%;
  }
}
