.empty {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 14.5rem;
  min-height: 14.5rem;
  .empty-text {
    margin-bottom: 1rem;
    text-align: center;
  }

  .icon-font {
    color: #bfbfc6;
    font-size: 4.5rem;
    min-height: 4.5rem;
    min-width: 4.5rem;
  }
}

.empty-icon {
  align-items: center;
  background-color: #e2e2e7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: 14.5rem;
  min-width: 14.5rem;
}
