.main {
  height: 100%;
  position: relative;
}

.toRender {
  padding-top: 56px;
  margin-top: 24px;
}

// List Table Projects

.table-list-project {
  margin-bottom: 3rem;
  #header {
    background-color: #f9f9fb;
  }

  .bodyList {
    background-color: #fff;
  }

  a {
    text-decoration: none;
  }

  .sm-height {
    height: 3.5rem;
    align-items: center;
    border-bottom: 0.0625rem solid #d0d0d7;
  }

  a {
    color: #6a6976;
  }
}

.hoverList {
  &:hover {
    background-color: #c9c9c996;
    cursor: pointer;
  }
}

// Modal Create Project
.modalNew {
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  &::after,
  &::before {
    clear: both;
    display: table;
    content: "";
  }

  #boxModal {
    border-radius: 4px;
    background-color: #fff;
    width: 450px;
    min-height: 360px;
    transform: translate(50%, 12%);
    right: 50%;
    position: absolute;
    animation: upToDown 0.45s;

    label {
      align-items: flex-end;
      color: #6a6976;
      display: flex;
      flex-flow: row nowrap;
      font-size: 0.75rem;
      font-weight: 400;
      margin-bottom: 0;
      min-height: 1.5rem;
    }

    input {
      position: relative;
      width: 100%;
      padding: 0.5rem 0.75rem;
      border: 0.0625rem solid #d0d0d7;
    }
    .relative {
      position: relative;
      .flex-row {
        display: flex;
        flex-flow: row nowrap;
      }

      .fileUploadButton {
        bottom: 0;

        position: absolute;
        label {
          align-items: flex-end;
          color: #6a6976;
          display: flex;
          flex-flow: row nowrap;
          font-size: 0.75rem;
          font-weight: 400;
          margin-bottom: 0;
          min-height: 1.5rem;
        }
        button {
          background-color: transparent;
          text-decoration: none;
          border: none;
          padding: 6px 12px;
          text-decoration: none;
          border-radius: 4px;
          transition: ease-in 0.2s;
          &:hover {
            background-color: #9bd1f5;
            transition: ease-out 0.2s;
          }
        }
        input {
          display: none;
        }
      }

      .label-group {
        justify-content: center;
        min-height: 3rem;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        label {
          align-items: flex-end;
          color: #6a6976;
          display: flex;
          flex-flow: row nowrap;
          font-size: 0.75rem;
          font-weight: 400;
          margin-bottom: 0;
          min-height: 1.5rem;
        }
      }
    }

    .project-img-settings {
      align-items: center;
      border: 1px solid #d0d0d7;
      display: flex;
      flex-flow: row nowrap;
      height: 3rem;
      justify-content: center;
      width: 3rem;
    }

    .scroll-section {
      flex: 1 1 auto;
      min-height: 1.5rem;
      overflow-y: scroll;
      padding: 0 2.5rem 1rem;
      height: 360px;
    }

    .input-group {
      display: flex;
      flex-flow: column nowrap;
      min-height: 5.5rem;
      position: relative;
      margin-bottom: 0.5rem;
      min-height: auto;
    }

    #titleModal {
      padding: 2.5rem 2.5rem 0.5rem;
      h2 {
        position: relative;
        margin: 12px 0;
        i {
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 21px;
          padding: 6px 8px;
          border-radius: 50%;
          transition: ease-in 0.225s;

          &:hover {
            background-color: #d7d7d7;
            cursor: pointer;
            transition: ease-in 0.225s;
          }
        }
      }
    }
    #detail {
      border-bottom: 1px solid #ccc;
      height: 65%;
      input {
        padding: 8px;
        margin: 8px 0;
        width: 100%;
      }
    }

    #modalBtn {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      flex-shrink: 0;
      justify-content: space-between;
      justify-content: flex-end;
      padding: 1rem 2.5rem 2.5rem;
      .btns {
        border: none;
        border-radius: 4px;
      }
      #created {
        right: 0;
        margin-left: 16px;
      }
    }
  }
}

.height-3rem {
  height: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 24px);
  height: 3.5rem;
  align-items: center;
  background-color: #f9f9fb;
}

// Keyframe for Modal Create Project
@keyframes upToDown {
  from {
    transform: translate(50%, -5%);
  }

  to {
    transform: translateY(50%, 12%);
  }
}
