.panel-body {
  .sub-secion {
    button {
      padding: 6px 10px;
      border: none;
      background-color: transparent;
      transition: ease-in 0.2s;

      &:hover {
        background-color: #e3e3e3;
        transition: ease-in 0.2s;
      }
    }

    .exportBtn {
      padding: 6px 18px;
      background-color: #e3e3e3 !important;
      border-radius: 3px;
      &:hover {
        background-color: #d0d0d7 !important;
      }
    }
    .icon-circle {
      border-radius: 50%;
    }
  }

  .sub-section {
    .section-header {
      align-items: center;
      border-top: 0.0625rem solid #d0d0d7;
      display: flex;
      flex-flow: row nowrap;
      margin: 0.5rem 0 0;
      min-height: 2.5rem;
    }

    button {
      padding: 6px 12px;
      border: none;
      background-color: transparent;
      transition: ease-in 0.2s;
      border-radius: 50%;
      i {
        font-size: 24px;
      }
      &:hover {
        background-color: #e3e3e3;
        transition: ease-in 0.2s;
      }
    }
  }
}
